.button {
  width: 290px;
  background-color: inherit;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #8FE67F;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif; }

body * {
  color: #666; }

body {
  display: table;
  width: 100%; }

header, footer {
  height: 1px; }

header {
  display: table-row;
  height: 60px;
  background-color: #8FE67F; }

section {
  display: table-row; }

section > div {
  padding: 10px; }

header > h1 {
  margin: 0;
  padding: 10px; }

footer {
  display: table-row;
  height: 45px;
  background-color: #aaa;
  font-size: 10px; }

footer > div {
  padding: 5px 5px 0 5px; }

@font-face {
  font-family: Nutrit icons;
  src: url(../icons/Flaticon.woff); }

.component-cont {
  padding: 10px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa; }
