$primary-color-lighter: #e1f0dd;
$primary-color-light:   #c3f2bb;
$primary-color:         #8FE67F;
$primary-color-dark:    #5ada44;
$primary-color-darker:  #31991e;

$secondary-color-lighter: #fbe7c6;
$secondary-color-light:   #f8d6a0;
$secondary-color:         #f4ba5d;
$secondary-color-dark:    #ef9d1a;
$secondary-color-darker:  #99620b;

$tertiary-color-lighter:  #99e9ff;
$tertiary-color-light:    #5cdcff;
$tertiary-color:          #0DCBFF;
$tertiary-color-dark:     #0080a3;
$tertiary-color-darker:   #002029;